.StorypointBlock {
  background: #262525;
  border-radius: 10px;
  place-self: start center;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: space-between;

  span:first-of-type {
    text-align: center;
    font-size: 30px;
  }

  span:last-of-type {
    font-size: 80px;
    font-weight: bold;
  }
}
