.cryptoScroller {
  overflow: hidden;
  position: relative;
  width: 100%;
  justify-self: right;
  grid-area: crypto;
  display: flex;
  align-items: center;

  .scroll {
    display: flex;
    align-items: center;
    position: relative;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scrollLeft 15s linear infinite;
    -webkit-animation: scrollLeft 15s linear infinite;
    animation: scrollLeft 15s linear infinite;

    /* Move it (define the animation) */
    @-moz-keyframes scrollLeft {
      0% {
        -moz-transform: translateX(100%);
      }
      100% {
        -moz-transform: translateX(-100%);
      }
    }

    @-webkit-keyframes scrollLeft {
      0% {
        -webkit-transform: translateX(100%);
      }
      100% {
        -webkit-transform: translateX(-100%);
      }
    }

    @keyframes scrollLeft {
      0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    z-index: 1;
  }

  &:before {
    left: -2px;
    background: linear-gradient(to right, #676767, rgba(0, 0, 0, 0));
  }

  &:after {
    right: -2px;
    background: linear-gradient(to left, #676767, rgba(0, 0, 0, 0));
  }


  .coin {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 20px;

    img, span {
      margin-right: 5px;
    }
  }
}
