.dashboard {
  min-height: calc(100vh - 52px);
  padding: 0 0.5rem;
  margin: 0;
  display: grid;
  grid-template-columns: 0.8fr 2.4fr 0.8fr;
  grid-template-rows: 1.3fr 0.7fr;
  grid-template-areas:
    "pie burndown contributors"
    "velocity blocks updates";
}

.topBar {
  position: relative;
  background: #676767;
  padding: 0 50px;
  display: grid;
  grid-template-areas: "time days crypto";
  grid-template-columns: 1fr 1fr 1fr;
}
